.aboutme{
    background-color: aliceblue;
    background-color: white;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    margin-top: 100px;
    padding-top: 100px;
    margin: auto;
}

.cardflex{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    
}
.abouttitle{
    font-weight: 700;
    font-size: 60px;
}
.aboutpara{
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    color: darkblue;
}
/* .cardflex{ */
    display: flex;
    flex-direction: row;
/* } */
.card{
    /* background-color: rgb(61, 129, 129); */
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}
.card:hover{
    transform: scale(1.02);
    background-color:rgb(198, 198, 218);
}
